body {
  background-color: #00695c;
}

.jumbotron {
  background-color: #003d33;
  color: #ffffff
}

.container {
  background-color: #ffffff;
}

a {
  color: #439889;
}

a:hover {
  color: #003d33;
}

h3 {
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.multiple-choice {
  font-weight: normal;
}

.form-control {
  width: 300px;
}

.result {
  display: none;
  border: 1px dotted #439889;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin:auto;
  margin-top: 20px;
  width: 95%;
}

#curious,
#done {
  display:none;
  font-size: 1.25em;
  padding-top: 30px;
  margin:auto;
  text-align: center;
}

.form-group {
  margin-top: 20px;
}

.thanks {
  font-size: 1.5em;
  margin-top: 30px;
}

.clickable {
  font-weight: bold;
  color: #439889;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #003d33;
}

.btn {
  margin-bottom:30px;
}
