h3 {
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.multiple-choice {
  font-weight: normal;
}

.form-control {
  width: 300px;
}

.result {
  display:none;
  border: 1px dotted pink;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin:auto;
  margin-top: 20px;
  width: 95%;
}

#explore {
  display:none;
  font-size: 1.25em;
  padding-top: 30px;
  margin:auto;
  text-align: center;

}

.thanks {
  font-size: 1.5em;
  margin-top: 30px;
}

.clickable {
  font-weight: bold;
  color: pink;
}

.clickable:hover {
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  margin-bottom:30px;
}
