h3 {
  font-size: 1em;
  color: #333;
  font-weight: bold;
}

.multiple-choice {
  font-weight: normal;
}

.form-control {
  width: 300px;
}

.result {
  display:none;
}

.thanks {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 30px;
}
